* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#contenedorPadre {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el div padre (cuerpo de la página) */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura al 100% del viewport */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    background-color: #f0f0f0; /* Color de fondo opcional */
}

/* Estilos para el div hijo */
#contenedorHijo {
    width: 350px; /* Ancho deseado del div hijo */
    height: 400px; /* Alto deseado del div hijo */
    background-color: #abc4ff; /* Color de fondo opcional */
    border-radius: 5%;
}

#pantallaNumeros{
    position: absolute;
    top: 240px;
    width: 270px;
    height: 50px;
    background-color: #ccdbfd;
    border-radius: 3%;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
}