* {
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1c253ab2; 
}

#contenedorPadre{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 500px;
    height: 550px;
    background-color: #ABC4FF;
    border-radius: 3%;
}

.pantallaNumeros{
    width: 450px;
    height: 100px;
    background-color: #D7E3FC;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 5%;
}

#numerosPantalla{
    font-size: 3.5rem;
    text-align: end;
    margin-right: 8px;
    margin-top: -7px;
    color: white;
    font-family: "Oswald", serif;
}
#numerosPantallaDos{
    font-size: 1.5rem;
    text-align: end;
    margin-right: 8px;
    color: black;
    font-family: "Oswald", serif;
}
.grid-container{
    width: 450px;
    height: 72%;
    margin-top: 3%;
    margin-left: 5%;
    background-color: #B6CCFE;
    border-radius: 3%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 3px;
}

.boton{
    width: 90%;
    height: 87px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 2px;
    background-color: #EDF2FB;
    border-color: #ABC4FF;
}

.cero{
    grid-column: 1 / span 2;
    margin-left: 3px;
    padding: 0px 4px;
    
}

.grande{
    grid-column: 4 / span 2;
    margin-right: 3px;
    padding: 0px 4px;
}

#clear{
    grid-column: 4 / span 2;
    margin-right: 3px;
    padding: 0px 4px;
}

#botonPunto{
    font-size: 2rem;
}